* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio:hover {
    background-color: #00ffcc;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #00ffcc;
}

#workspaces button:hover {
    background: rgba(0, 255, 204, 0.2);
}

#workspaces button.urgent {
    color: #ff00ff;
}

#mode {
    color: #00ffcc;
    box-shadow: inset 0 -3px #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: #00ffcc;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #ff00ff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ff00ff;
}

#power-profiles-daemon.balanced {
    color: #00ccff;
}

#power-profiles-daemon.power-saver {
    color: #00ffcc;
}

label:focus {
    color: #00ffcc;
}

#cpu {
    color: #00ffcc;
}

#memory {
    color: #ff00ff;
}

#disk {
    color: #ff6600;
}

#backlight {
    color: #00ffcc;
}

#network {
    color: #00ccff;
}

#network.disconnected {
    color: #ff00ff;
}

#pulseaudio {
    color: #ffcc00;
}

#pulseaudio.muted {
    color: #00ffcc;
}

#pulseaudio:hover {
    color: #ffcc00;
    background-color: #000000;
}

#wireplumber {
    color: #ffccff;
}

#wireplumber.muted {
    color: #ff00ff;
}

#custom-media {
    color: #00ffcc;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #00ffcc;
}

#custom-media.custom-vlc {
    color: #ffcc00;
}

#temperature {
    color: #ff6600;
}

#temperature.critical {
    color: #ff00ff;
}

#tray {
    color: #00ccff;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #ff00ff;
}

#idle_inhibitor {
    color: #00ffcc;
}

#idle_inhibitor.activated {
    color: #00ffcc;
}

#mpd {
    color: #00ffcc;
}

#mpd.disconnected {
    color: #ff00ff;
}

#mpd.stopped {
    color: #00ffcc;
}

#mpd.paused {
    color: #00ffcc;
}

#language {
    color: #00ffcc;
    background: #000000;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    color: #00ffcc;
    background: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    color: rgba(0, 255, 204, 0.2);
}

#scratchpad {
    color: rgba(0, 255, 204, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: #ffffff;
}

#privacy-item.screenshare {
    color: #ff6600;
}

#privacy-item.audio-in {
    color: #00ffcc;
}

#privacy-item.audio-out {
    color: #00ccff;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: #000000;
    border-radius: 25px;
    padding: 5px 10px;
    margin-top: 5px;
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#language,
#keyboard-state,
#custom-power,
#custom-notification,
#idle_inhibitor,
#privacy-item {
    background-color: #000000;
    color: #00ffcc;
    padding: 0 6;
}

#idle_inhibitor.activated {
    color: #00ffcc;
}
